@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Texter.Models.Contact

<h2>Create</h2>
<hr />

<h4>Add a new contact</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Number)
    @Html.TextBoxFor(model => model.Number)

    <input type="submit" value="Add New Contact"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>